{% extends 'template.html.twig' %}

{% block body %}
    {% block title %}
    TO DO LIST
        {% endblock %}
<ol class="list-group">
    {% for key,element in app.session.get('todos') %}
        <li class="list-group-item">
            {{ key }} => {{ element }}
        </li>
    {% endfor %}
</ol>
{% endblock %}
